.contenedor-detalle-poducto{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center
}
.detalle-producto{
    display: grid;
    justify-items: center;
}
.detalle-producto img{
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
}
.product-infor{
    display: grid;
    justify-items: center;
    color: var(--white);
}
.der{
    display: flex;
}
.der p{
    font-size: var(--md);
    font-weight: bold;
    padding: 10px;
}
.terminar-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 30px;
}
.terminar-button a{
        color:var(--white);
        font-weight: bold;
        text-decoration: none;
}