
.products-container{
    display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 26px;
        place-content: center;
}
.titulo-container{
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-left: 36px;

  }
  